
*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
:root{
    --colorFondoCuerpo: #ebe5e3;
    --colorTextoMenu: #403b32;
    --colorBlanco: #f5efee;
}
body{
    background: var(--colorFondoCuerpo);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Menu de navegación*/
.menu, .menu ul{
    display: flex;
    flex-direction: row;
}
.menu{
    /* border: solid red 2px; */
    width: 100vw;
    height: 50px;
    background: var(--colorFondoCuerpo);
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 6%;
    padding-right: 6%;
    box-shadow: #403b32 1px 1.2px 5px;
    margin-bottom: 7%;
}
.logo{
    font-size: 30px;
    text-shadow: #403b32 1px 1px 1px;
}
.menu ul{
    /* border: solid red 2px; */
    width: 36%;
    justify-content: space-around;
    font-size: 20px;
}
.menu ul li{
    list-style: none;
}
.menu ul a{
    text-decoration: none;
    color: var(--colorTextoMenu);
}
.menu ul a:hover{
    font-weight: bold;
}
/* Fin Menu de navegación */

/* Sobre mi */
.sobreMi{
    /* border: solid blue 2px; */
    width: 85%;
    height: 90vh;
    background: linear-gradient(var(--colorBlanco) 50%, #f4ece4 50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: #403b32 1px 5px 15px;
    margin-bottom: 7%;
}
.img-perfil{
    width: 30%;
    height: 75%;
}
.infoSobreMi{
    width: 35%;
}

/* Fin apartado sobre mi */

/* Servicio */

.servicio{
    /* border: solid blue 2px; */
    width: 85%;
    height: 90vh;
    background: var(--colorBlanco);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-shadow: #403b32 1px 5px 15px;
    margin-bottom: 7%;
}
.cont-cuadros{
    /* border: solid 2px blue; */
    width: 75%;
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
}

.cuadro{
    width: 80px;
    height: 80px;
    background: #b9b6b0;
}
.cuadro-1{
    background: #c7b7a9;
}
.cuadro-2{
    margin-left: 8%;
    background: #e8d6c9;
}
.cuadro-3{
    margin-left: 8%;
    background: #a6a09b;
}
.cuadro-4{
    margin-left: 8%;
    background: #bec8c0;
}
.cuadro-5{
    margin-left: 8%;
    background: #ece4e2;
}


.info-servicio{
    width: 75%;
}
.titulo-servicio{
    width: 70%;
}